





.Card {
    backdrop-filter: blur(4px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 500px;
    text-align: center;
    background: linear-gradient(145deg, #1c1e24, #16181d);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.Card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.Card-header {
    margin-bottom: 20px;
    display: flex;
    justify-content:center ;
    width: 500px;
}

.Card-header-content{
    
    width: 700px;
    padding-right: 50px;
}

.Header-edit-button{
    padding-top: 20px;
    width: 100px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.author {
    font-size: 18px;
    color: #a0a5ab;
    margin-bottom: 15px;
}

.description {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.likeButton, .betButton {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2b2a2a;
    border: 1px solid transparent;
    margin: 5px;
    transition: all 0.3s ease;
    align-self: stretch;
    margin-top: 20px;
}

.likeButton:hover, .betButton:hover {
    background-color: #4a4e57;
    color: #ffffff;
    border-color: #646cff;
    transform: scale(1.05);
}

.likeButton:active, .betButton:active{
    background-color: #bfc216;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.moreButton {
    width: 30px;
    align-self:left;
    margin-bottom: 20px;
}

.moreButton:hover {
    transform: scale(1.2);
}
